AST_Autentificador/resources/Autentificador.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://autentificador" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://autentificador" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="http://autentificador">
            <xs:element name="Registro">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="nick" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Login">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="nick" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="LoginResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="RegistroRequest">
    <wsdl:part name="parameters" element="ns:Registro">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoginRequest">
    <wsdl:part name="parameters" element="ns:Login">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoginResponse">
    <wsdl:part name="parameters" element="ns:LoginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AutentificadorPortType">
    <wsdl:operation name="Registro">
      <wsdl:input message="ns:RegistroRequest" wsaw:Action="urn:Registro">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="ns:LoginRequest" wsaw:Action="urn:Login">
    </wsdl:input>
      <wsdl:output message="ns:LoginResponse" wsaw:Action="urn:LoginResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AutentificadorSoap12Binding" type="ns:AutentificadorPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Registro">
      <soap12:operation soapAction="urn:Registro" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="urn:Login" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AutentificadorHttpBinding" type="ns:AutentificadorPortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="Registro">
      <http:operation location="Registro"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <http:operation location="Login"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AutentificadorSoap11Binding" type="ns:AutentificadorPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Registro">
      <soap:operation soapAction="urn:Registro" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="urn:Login" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Autentificador">
    <wsdl:port name="AutentificadorHttpEndpoint" binding="ns:AutentificadorHttpBinding">
      <http:address location="http://localhost:8080/axis2/services/Autentificador.AutentificadorHttpEndpoint/"/>
    </wsdl:port>
    <wsdl:port name="AutentificadorHttpSoap11Endpoint" binding="ns:AutentificadorSoap11Binding">
      <soap:address location="http://localhost:8080/axis2/services/Autentificador.AutentificadorHttpSoap11Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="AutentificadorHttpSoap12Endpoint" binding="ns:AutentificadorSoap12Binding">
      <soap12:address location="http://localhost:8080/axis2/services/Autentificador.AutentificadorHttpSoap12Endpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
