AST_Autentificador/Autentificador.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://autentificador" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://autentificador">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="http://autentificador">
            <xs:element name="Registro">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="nick" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Login">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="nick" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="LoginResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="RegistroRequest">
        <wsdl:part name="parameters" element="ns:Registro"/>
    </wsdl:message>
    <wsdl:message name="LoginRequest">
        <wsdl:part name="parameters" element="ns:Login"/>
    </wsdl:message>
    <wsdl:message name="LoginResponse">
        <wsdl:part name="parameters" element="ns:LoginResponse"/>
    </wsdl:message>
    <wsdl:portType name="AutentificadorPortType">
        <wsdl:operation name="Registro">
            <wsdl:input message="ns:RegistroRequest" wsaw:Action="urn:Registro"/>
        </wsdl:operation>
        <wsdl:operation name="Login">
            <wsdl:input message="ns:LoginRequest" wsaw:Action="urn:Login"/>
            <wsdl:output message="ns:LoginResponse" wsaw:Action="urn:LoginResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AutentificadorSoap11Binding" type="ns:AutentificadorPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="Registro">
            <soap:operation soapAction="urn:Registro" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="Login">
            <soap:operation soapAction="urn:Login" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AutentificadorSoap12Binding" type="ns:AutentificadorPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="Registro">
            <soap12:operation soapAction="urn:Registro" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="Login">
            <soap12:operation soapAction="urn:Login" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AutentificadorHttpBinding" type="ns:AutentificadorPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="Registro">
            <http:operation location="Registro"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="Login">
            <http:operation location="Login"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Autentificador">
        <wsdl:port name="AutentificadorHttpSoap11Endpoint" binding="ns:AutentificadorSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/Autentificador.AutentificadorHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AutentificadorHttpSoap12Endpoint" binding="ns:AutentificadorSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/Autentificador.AutentificadorHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AutentificadorHttpEndpoint" binding="ns:AutentificadorHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/Autentificador.AutentificadorHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
